{{ ansible_managed | comment }}
0.0.0.0 0.0.0.0						# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 a.ads1.msn.com					# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 a.ads2.msn.com					# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 a-0001.a-msedge.net				# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 ad.doubleclick.net				# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 adnexus.net					# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 adnxs.com					# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 ads.msn.com					# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 ads1.msads.net					# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 az361816.vo.msecnd.net				# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 az512334.vo.msecnd.net				# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 choice.microsoft.com				# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 choice.microsoft.com.nsatc.net			# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 compatexchange.cloudapp.net			# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 corp.sts.microsoft.com				# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 corpext.msitadfs.glbdns2.microsoft.com		# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 cs1.wpc.v0cdn.net				# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 df.telemetry.microsoft.com			# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 diagnostics.support.microsoft.com		# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 fe2.update.microsoft.com.akadns.net		# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 feedback.microsoft-hohm.com			# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 feedback.search.microsoft.com			# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 feedback.windows.com				# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 i1.services.social.microsoft.com		# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 i1.services.social.microsoft.com.nsatc.net	# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 oca.telemetry.microsoft.com			# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 oca.telemetry.microsoft.com.nsatc.net		# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 pre.footprintpredict.com			# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 preview.msn.com					# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 rad.msn.com					# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 redir.metaservices.microsoft.com		# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 reports.wes.df.telemetry.microsoft.com		# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 services.wes.df.telemetry.microsoft.com		# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 settings-sandbox.data.microsoft.com		# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 settings-win.data.microsoft.com			# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 sls.update.microsoft.com.akadns.net		# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 sqm.df.telemetry.microsoft.com			# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 sqm.telemetry.microsoft.com			# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 sqm.telemetry.microsoft.com.nsatc.net		# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 statsfe1.ws.microsoft.com			# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 statsfe2.update.microsoft.com.akadns.net	# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 statsfe2.ws.microsoft.com			# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 survey.watson.microsoft.com			# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 telecommand.telemetry.microsoft.com		# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 telecommand.telemetry.microsoft.com.nsat­c.net	# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 telecommand.telemetry.microsoft.com.nsatc.net	# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 telemetry.appex.bing.net			# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 telemetry.appex.bing.net:443			# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 telemetry.urs.microsoft.com			# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 vortex.data.microsoft.com			# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 vortex-sandbox.data.microsoft.com		# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 vortex-win.data.microsoft.com			# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 watson.live.com					# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 watson.ppe.telemetry.microsoft.com		# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 watson.telemetry.microsoft.com			# Entry added with W10Privacy (www.winprivacy.de)!
0.0.0.0 watson.telemetry.microsoft.com.nsatc.net	# Entry added with W10Privacy (www.winprivacy.de)!

