[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Eclipse 
Icon=/home/franck/eclipse/php-mars/eclipse/icon.xpm
Path=/home/franck/bin
Exec=/home/franck/eclipse/php-mars/eclipse/eclipse
StartupNotify=false
StartupWMClass=Eclipse
OnlyShowIn=Unity;
X-UnityGenerated=true
