Ceci est un systeme prive, son acces est limite aux personnes autorisees
 
     Article 323-1 du code penal :
 
   Le fait d'acceder ou de se maintenir, frauduleusement, dans tout
ou partie d'un systeme de traitement automatise de donnees est puni
de deux ans  d'emprisonnement et de 30000 Euro d'amende.

Lorsqu'il en est resulte soit la suppression ou la modification de donnees contenues dans le systeme, soit une alteration du fonctionnement de ce systeme, la peine est de trois ans d'emprisonnement et de 45 000 euros d'amende.


