{{ ansible_managed | comment }}

{#
# pas de php-fpm car : FastCgiExternalServer: redefinition of previously defined class
#      avec la config tls
{% if item.value.phpfpm is defined %}
{% include 'SpecificConf/php-fpm.conf' ignore missing %}
{% endif %}
#}
        alias /robots.txt /var/www/html/robots.txt
#        alias /sitemap.xml /var/www/html/sitemap.xml
        alias /.well-known /var/www/html/.well-known

{% if item.value.SetHttpConf is defined %}
<VirtualHost {{ item.value.ServerIp }}:80>
    ServerName {{ item.value.ServerName }}
    ServerAdmin {{ item.value.ServerAdmin }}
    DocumentRoot {{ item.value.DocumentRoot }}

    # Available loglevels: trace8, ..., trace1, debug, info, notice, warn,
    # error, crit, alert, emerg.
    # It is also possible to configure the loglevel for particular
    # modules, e.g.
    LogLevel  info
    #LogLevel debug

    ErrorLog ${APACHE_LOG_DIR}/{{ item.key }}.error.log
    CustomLog ${APACHE_LOG_DIR}/{{ item.key }}.access.log combined

    {% if item.value.SpecificConf is defined %}
    {% include item.value.SpecificConf ignore missing %}
    {% endif %}

</VirtualHost>
{% endif %}

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet